<div class="input-group">
  <input type="text" class="form-control" placeholder="Name" [(ngModel)]="name">
  <input type="text" class="form-control" placeholder="Price" [(ngModel)]="price">
  <button type="button" class="btn btn-default" [routerLink]="['/product']" [queryParams]="{ name: name ? name : '', price: price ? price : ''}">Search</button>
  <button type="button" class="btn btn-default" [routerLink]="['/add']" >Add product</button>
</div>
<hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>PRICE</th>
      <th>STATUS</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of product" [routerLink]="['/product', item.id]">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.price}}</td>
      <td>{{item.status ? 'Active' : 'Deactive' }}</td>
      <td>
        <a>Edit</a>
        /
        <a (click) = "deleteProduct(item.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>